html, body {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: darkgray;
  text-align: center;
}

#carCanvas {
  background-color: lightgray;
}

#networkCanvas {
  background-color: black;
}